<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>fdadmin介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">

    <div class="row wrapper wrapper-content">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">今天</span>
                    <h5>日流量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">6,200</h1>
                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                    </div>
                    <small>总浏览量</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">今天</span>
                    <h5>日IP量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">5,800</h1>
                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>
                    </div>
                    <small>总IP量</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">最近一周</span>
                    <h5>访客</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">6,120</h1>
                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>
                    </div>
                    <small>新访客</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">最近一个月</span>
                    <h5>活跃用户</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,600</h1>
                    <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>
                    </div>
                    <small>活跃用户</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <!--<blockquote class="text-warning" style="font-size:14px">
                                           领取阿里云通用云产品1888优惠券
                <br><a target="_blank" href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=brki8iof">https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=brki8iof</a><br>
                                           领取腾讯云通用云产品2860优惠券
                <br><a target="_blank" href="https://cloud.tencent.com/redirect.php?redirect=1025&cps_key=198c8df2ed259157187173bc7f4f32fd&from=console">https://cloud.tencent.com/redirect.php?redirect=1025&cps_key=198c8df2ed259157187173bc7f4f32fd&from=console</a><br>
                                           阿里云Hi拼购 限量爆款 低至199元/年
                <br><a target="_blank" href="https://www.aliyun.com/acts/hi-group-buying?userCode=brki8iof">https://www.aliyun.com/acts/hi-group-buying?userCode=brki8iof</a>
                <h4 class="text-danger">云产品通用红包，可叠加官网常规优惠使用。(仅限新用户)</h4>
            </blockquote>-->
            <blockquote class="text-danger">
                <marquee scrollamount="10" onmouseout="this.start()" onmouseover="this.stop()">
                    <span id="marquee" style="font-size: 20px;font-weight: bold">
                        欢迎您:,您的登录时间为&nbsp;&nbsp;&nbsp;&nbsp;

                    </span>
                </marquee>
            </blockquote>
            <hr>
        </div>
        <div class="col-sm-3">
            <h2>关注官方公众号</h2>
            <img th:src="@{/img/wechat_public_qrcode.jpg}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>后台管理框架</h2>
            <p>本站是一款“专注兴趣、分享创作”的轻博客产品，旨在为“热爱记录生活、热衷分享技术”的你，打造一个全新的展示平台！<b>（专注兴趣，分享创作）</b></p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">&yen;免费开源</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://github.com/fengdis" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问github
                </a>
                <a class="btn btn-white btn-bitbucket" href="https://www.fengdis.com" target="_blank">
                    <i class="fa fa-home"></i> 访问主页
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
                <li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <!--<p><i class="fa fa-send-o"></i> 官网：<a href="http://www.fengdis.vip" target="_blank">http://www.fengdis.vip</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群：<s>满1389287</s> <s>满1679294</s> <s>满1529866</s> <s>满1772718</s> <s>满1366522</s> <s>满1382251</s> <a href="https://jq.qq.com/?_wv=1027&k=5fdQ1eG" target="_blank">1145125</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">/ *若依</a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">/ *若依</a>
                        </p>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>通知消息</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v40">v4.0.0</a><code class="pull-right">2019.08.08</code>
                                        </h5>
                                    </div>
                                    <div id="v40" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>代码生成支持预览、编辑，保存方案</li>
                                                <li>新增防止表单重复提交注解</li>
                                                <li>新增后端校验（和前端保持一致）</li>
                                                <li>新增同一个用户最大会话数控制</li>
                                                <li>Excel导出子对象支持多个字段</li>
                                                <li>定时任务支持静态调用和多参数</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v34">v3.4.0</a><code class="pull-right">2019.06.03</code>
                                        </h5>
                                    </div>
                                    <div id="v34" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>新增实例演示菜单及demo</li>
                                                <li>新增页签右键操作</li>
                                                <li>菜单管理新增打开方式</li>
                                                <li>新增点击某行触发的事件</li>
                                                <li>新增双击某行触发的事件</li>
                                                <li>新增单击某格触发的事件</li>
                                                <li>新增双击某格触发的事件</li>
                                                <li>新增是否启用显示细节视图</li>
                                                <li>支持上传任意格式文件</li>
                                                <li>修复角色权限注解失效问题</li>
                                                <li>左侧的菜单栏宽度调整</li>
                                                <li>新增响应完成后自定义回调函数</li>
                                                <li>支持前端及其他模块直接获取用户信息</li>
                                                <li>升级swagger到最新版2.9.2</li>
                                                <li>升级jquery.slimscroll到最新版1.3.8</li>
                                                <li>升级select2到最新版4.0.7</li>
                                                <li>新增角色配置本部门数据权限</li>
                                                <li>新增角色配置本部门及以下数据权限</li>
                                                <li>优化底部操作防止跳到页面顶端</li>
                                                <li>修改冻结列选框无效及样式问题</li>
                                                <li>修复部门四层级修改祖级无效问题</li>
                                                <li>更换开关切换按钮样式</li>
                                                <li>新增select2-bootstrap美化下拉框</li>
                                                <li>添加表格内图片预览方法</li>
                                                <li>修复权限校验失败跳转页面路径错误</li>
                                                <li>国际化资源文件调整</li>
                                                <li>通知公告布局调整</li>
                                                <li>删除页签操作功能</li>
                                                <li>表格树新增查询指定列值</li>
                                                <li>更改系统接口扫描方式及完善测试案例</li>
                                                <li>表格列浮动提示及字典回显默认去背景</li>
                                                <li>修复启用翻页记住前面的选择check没选中问题</li>
                                                <li>去除监控页面底部的广告</li>
                                                <li>日期控件功问题修复及data功能增强</li>
                                                <li>新增角色权限可见性（前端直接调用）</li>
                                                <li>新增获取当前登录用户方法（前端及子模块调用）</li>
                                                <li>修复热部署重启导致菜单丢失问题</li>
                                                <li>优化业务校验失败普通请求跳转页面</li>
                                                <li>操作日志新增状态条件查询</li>
                                                <li>操作类型支持多选条件查询</li>
                                                <li>通知公告防止滚动触底回弹优化</li>
                                                <li>其他细节优化</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>捐赠</h5>
                    </div>
                    <div class="ibox-content">
                        <!--<div class="alert alert-warning">
                            	请作者喝杯咖啡（点击图片放大）
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                            </a>
                        </p>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>

    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>

    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });

        $.ajax({
            url: ctx + "system/notice/query",
            data: {
                noticeType: "2"
            },
            type : "post",
            async: false,
            success: function(data) {
                $.each(data.data, function (index, object) {
                    console.log(object)
                });
            }
        });

        $.ajax({
            url: ctx + "system/notice/query",
            data: {
                noticeType: "1"
            },
            type : "post",
            async: false,
            success: function(data) {
                $.each(data.data, function (index, object) {
                    console.log(object)
                });
            }
        });

    </script>
</body>
</html>
